name: CI

on:
  pull_request:
    branches: [main, dev]
  push:
    branches: [dev]

jobs:
  install-deps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v3
        with:
          node-version:
          cache: "pnpm"
      - run: pnpm install

  lint:
    needs: install-deps
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: pnpm run lint

  test:
    needs: install-deps
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: pnpm run test
